//--------
// Breakpoint grid (used for development)
// Overlays a visual representation of the site grid system
#grid {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  .col {
    width: $site-grid;
    height: 100%;
    float: left;
    margin: 0 10px;
    background: rgba(0, 191, 255, 0.05);
    counter-increment: section;
    position: relative;
    div {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      border: 1px dashed red;
      &:before {
        content: counter(section);
      }
    }
    @media only screen and (max-width: $site-col-1 + $site-col) { &.col1 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-2 + $site-col) { &.col2 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-3 + $site-col) { &.col3 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-4 + $site-col) { &.col4 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-5 + $site-col) { &.col5 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-6 + $site-col) { &.col6 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-7 + $site-col) { &.col7 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-8 + $site-col) { &.col8 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-9 + $site-col) { &.col9 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-10 + $site-col) { &.col10 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-11 + $site-col) { &.col11 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-12 + $site-col) { &.col12 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-13 + $site-col) { &.col13 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-14 + $site-col) { &.col14 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-15 + $site-col) { &.col15 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-16 + $site-col) { &.col16 { border: 1px dashed red; } }
    @media only screen and (max-width: $site-col-1) { &.col1 { display: none; } }
    @media only screen and (max-width: $site-col-2) { &.col2 { display: none; } }
    @media only screen and (max-width: $site-col-3) { &.col3 { display: none; } }
    @media only screen and (max-width: $site-col-4) { &.col4 { display: none; } }
    @media only screen and (max-width: $site-col-5) { &.col5 { display: none; } }
    @media only screen and (max-width: $site-col-6) { &.col6 { display: none; } }
    @media only screen and (max-width: $site-col-7) { &.col7 { display: none; } }
    @media only screen and (max-width: $site-col-8) { &.col8 { display: none; } }
    @media only screen and (max-width: $site-col-9) { &.col9 { display: none; } }
    @media only screen and (max-width: $site-col-10) { &.col10 { display: none; } }
    @media only screen and (max-width: $site-col-11) { &.col11 { display: none; } }
    @media only screen and (max-width: $site-col-12) { &.col12 { display: none; } }
    @media only screen and (max-width: $site-col-13) { &.col13 { display: none; } }
    @media only screen and (max-width: $site-col-14) { &.col14 { display: none; } }
    @media only screen and (max-width: $site-col-15) { &.col15 { display: none; } }
    @media only screen and (max-width: $site-col-16) { &.col16 { display: none; } }
  }
}

//--------
// ALL element resets
* {
  box-sizing: border-box;
}

//--------
// "Viewport" element resets
html, body {
  width: 100%;
  height: 100%;
  min-width: $site-min-width;
  margin: 0;
  padding: 0;
  font-size: $site-font-size;
  font-family: $site-font-family;
  color: $default-text-color;
}

//--------
// "Window" resets
html {
  overflow: hidden;
  padding: $site-header-height 0 $site-header-height 0;
}

//--------
// "Document resets
body {
  overflow: auto;
}

//--------
// "Header" element resets
h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

//--------
// "Link" element resets
a {
  text-decoration: none;
  &, &:hover, &:active {
    color: $default-link-color;
    text-decoration: underline;
  }
}

//--------
// Primary site "sections"
header, section, footer {
  margin: 0 auto;
}

//--------
// Header and Footer specific
header, footer {
  position: fixed;
  width: 100%;
  ul {
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
    }
  }
}

//--------
// Header and main Navbar
header {
  @include background-1();
  @include viewport-shadow('header');
  top: 0;
  height: $site-header-height;
  border-bottom: 1px solid $default-border-color;
  font-size: 1.1rem;
  font-weight: lighter;
  ul {
    height: $site-header-height;
    overflow: auto;
    li {
      width: 20%;
      height: 100%;
      padding: 0 $site-gutter 0 $site-gutter;
      position: relative;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      &:hover, &.active {
        .link-bg {
          opacity: 1;
          transition: opacity $default-speed $default-easing;
        }
      }
      & + li {
        border-left: 1px solid $default-border-color;
      }
      a {
        @include vertical-align();
        text-decoration: none;
        position: relative;
        font-size: 1.5rem;
        line-height: 3.7rem;
        &, &:hover, &:active {
          color: $header-link-color;
          text-decoration: none;
        }
        & .icon:before {
          font-family: FontAwesome;
          font-style: normal;
          margin-right: $site-gutter;
        }
        &.about .icon:before {
          content: '\f013';
        }
        &.faq .icon:before {
          content: '\f059';
        }
        &.docs .icon:before {
          content: '\f02d';
        }
        &.connect .icon:before {
          content: '\f007';
        }
        @media only screen and (max-width: $site-col-11) {
          &, &:hover, &:active {
            font-size: 0;
          }
          .icon:before {
            font-size: 2.0rem;
            margin-right: 0 !important;
          }
          .title {
            display: none;
          }
        }
      }
      .link-bg {
        @include gradient-1();
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity $default-speed $default-easing;
      }
    }
  }
}

//--------
// Main content sections
section {
  padding: $site-gutter;
  max-width: $site-max-width;
  box-shadow: -5px 0 0 0 #5a79a5;
  border-radius: 4px;
  transition:
    box-shadow $default-speed $default-easing,
    border-radius $default-speed $default-easing;
  * + & {
    margin: $site-gutter * 3 auto;
  }
  h1 {
    margin: 0 0 $site-gutter 0;
    &.fa {
      padding: 0 $site-gutter;
      font-family: inherit;
      font-size: 1.8rem;
      &:before {
        font-family: FontAwesome;
        margin-right: $site-gutter;
      }
    }
    &.started:before {
      content: '\f0c0';
    }
    &.features:before {
      content: '\f008';
    }
    &.developers:before {
      content: '\f20e';
    }
  }
  &.full {
    padding: 0 $site-gutter;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  & > section {
    height: 100%;
    padding: 0;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    .module-group {
      height: 100%;
    }
  }
  &.banner {
//    background: url(http://www.puppetlabs.com/sites/all/themes/puppetlabs/images/2500x1040_hero_elizabeth.jpg) no-repeat scroll center top / cover gray;
    background: gray;
    color: white;
    &.full {
      border-radius: 0;
      p {
        line-height: 1.4rem;
        font-size: 1.1rem;
      }
      .module {
        padding: $site-gutter * 2;
        background: $default-shadow-color-faded;
        .centered {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
    h1 {
      font-size: 2.0rem;
    }
    a {
      @include banner-link();
    }
  }
  @media only screen and (max-width: $site-col-16 + $site-col) {
    transition:
      box-shadow $default-speed $default-easing,
      border-radius $default-speed $default-easing;
    box-shadow: 0 0 0 0 #5a79a5;
    border-radius: 0;
  }
  @media only screen and (max-width: $site-col-16) {
    box-shadow: none;
    border-radius: 0;
  }
}

//--------
// Footer specific
footer {
  @include gradient-1();
  @include viewport-shadow('footer');
  bottom: 0;
  font-size: 0.9rem;
  border-top: 1px solid $default-border-color;
  li {
    & + li {
      margin-left: $site-gutter;
    }
  }
  a {
    @include alt-link();
  }
  .module-group {
    padding: $site-gutter $site-gutter;
  }
  .module {
    padding-bottom: $site-gutter !important;
  }
  .module:last-child {
    li {
      float: right;
    }
  }
}

//--------
// Module group definitions
.module-group {
  overflow: auto;
  & + .module-group {
    margin-top: $site-gutter;
  }
  &.n-mods-1 {
    .module:first-child:nth-last-child(1) {
      width: 100%;
    }
    &.one-third {
      .module:first-child:nth-last-child(1) {
        width: 33.3333%;
      }
    }
    &.two-thirds {
      .module:first-child:nth-last-child(1) {
        width: 66.6666%;
      }
    }
    &.two-fifths {
      .module:first-child:nth-last-child(1) {
        width: 40%;
      }
    }
  }
  &.n-mods-2 {
    .module:first-child:nth-last-child(2),
    .module:first-child:nth-last-child(2) ~ .module {
      width: 50%;
    }
    &.two-thirds {
      .module:first-child {
        width: 66%;
      }
      .module:first-child:nth-last-child(2) ~ .module {
        width: 34%;
      }
    }
    &.two-thirds-flip {
      .module:first-child {
        width: 34%;
      }
      .module:first-child:nth-last-child(2) ~ .module {
        width: 66%;
      }
    }
    &.two-fifths {
      .module:first-child {
        width: 60%;
      }
      .module:first-child:nth-last-child(2) ~ .module {
        width: 40%;
      }
    }
    &.two-fifths-flip {
      .module:first-child {
        width: 40%;
      }
      .module:first-child:nth-last-child(2) ~ .module {
        width: 60%;
      }
    }
  }
  &.n-mods-3 {
    .module:first-child:nth-last-child(3),
    .module:first-child:nth-last-child(3) ~ .module {
      width: 33.3333%;
    }
  }
  &.n-mods-4 {
    .module:first-child:nth-last-child(4),
    .module:first-child:nth-last-child(4) ~ .module {
      width: 25%;
    }
  }
  .module {
    float: left;
    height: 100%;
    padding: $site-gutter $site-gutter 0 $site-gutter;
    h3 {
      margin: 0 0 $site-gutter 0;
      border-bottom: 1px solid $default-border-color;
      color: $subtitle-text-color;
      padding-bottom: 0.250rem;
    }
    p {
      margin: 0;
      line-height: 1.450rem;
      & + * {
        margin-top: $site-gutter;
      }
    }
    @media only screen and (max-width: $site-mobile-breakpoint) {
      &:not(.no-respond) {
        width: 100% !important;
      }
      & + .module {
        margin-top: $site-gutter;
      }
      &.no-respond {
        margin-top: 0;
      }
    }
  }
}
